<div class="modal-left">
  <div id="envedit-popup" class="envedit-popup">
    <div class="modal-left-header">
      <div class="row">
        <div class="col-10">
          <h4 class="txtov" id="hostInfoServerNameLabel">{{data.name}}</h4>
        </div>
        <div class="col-2 text-right" (click)="onNoClick()" style="cursor:pointer">
          <i class="fas fa-times hidemodal mhidebtn" ></i>
        </div>
      </div>
    </div>
    <hr>
    <div class="modal-left-body scrollbar-enabled">
      <form>
        <div class="form-group">
          <label for="hname">Name</label>
          <input class="form-control" type="text" name="hostInfoServerName" required="" placeholder="Server1" disabled [value]="data.name">
        </div>
       
        <div class="form-group">
          <label for="otype">Tenant DBId</label>
          <input class="form-control" type="text" required="" name="hostInfoOsType" placeholder="CFG Windows Server" disabled [value]="data.tenantDBID">
        </div>
        <div class="form-group">
          <label for="otype">State</label>
          <input class="form-control" type="text" required="" name="hostInfoOsType" placeholder="CFG Windows Server" disabled [value]="data.state == 'CFGEnabled' ? 'Enabled'  : 'Disabled'">
        </div>
        <div class="form-group">
          <label for="hip">Type</label>
          <input class="form-control" type="text" name="hostInfoServerIp" required="" placeholder="192.168.1.104" disabled [value]="data.type">
        </div>
        <div class="text-left">
          <button class="btn btn-rounded btn-success ripple mr-2" type="submit" disabled>Update</button>
          <button class="btn btn-rounded btn-dark ripple hidemodal" (click)="onNoClick()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- edit server  -->