<div class="ot-item-changes-wrapper">
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="md-header">
    <div class="modal-title">Object Type: <span>{{ objectType }}</span></div>
    <button nz-button nzShape="round" class="show-diff" (click)="shouldShowOnlyDifference = !shouldShowOnlyDifference">
      <i class="fas fa-sliders-h"></i>
    </button>
  </div>
  <div class="table-header">
    <div class="item-col"></div>
    <div class="item-col">Old configuration</div>
    <div class="item-col">New configuration</div>
  </div>
  <div class="table-body">
    <div class="item-row" *ngFor="let configurationItem of configurationItems">
      <ng-container *ngIf="!shouldShowOnlyDifference || (!configurationItem.isObject && configurationItem.isChanged)">
        <div class="item-col">
          {{ configurationItem.configKey }}
        </div>
        <div class="item-col" [class.old]="configurationItem.isChanged">
          {{ !configurationItem.isObject ? configurationItem.oldConfig : ''}}
        </div>
        <div class="item-col" [class.new]="configurationItem.isChanged">
          {{ !configurationItem.isObject ? configurationItem.newConfig : ''}}
        </div>
      </ng-container>
    </div>
  </div>
</div>