@import "../../../../styles/mixins.scss";

.one-test_container {
    @include container();
    .container_placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        .placeholder_card {
            @include h1();
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 785px;
            height: 390px;
            text-transform: uppercase;

            .card-text {
                width: 500px;
                text-align: center;
                font-weight: normal;
                margin-bottom: 40px;
            }

            button {
                @include btn-secondary();
            }
        }
    }

    .sprint_container {
        @include wrapper();

        .action-bar {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-bottom: 20px;
            .act-sprint {
                display: flex;
                align-items: center;
                width: 200px;
                .switch {
                    width: 80px;
                    margin-right: 10px;
                }
            }
            button {
                border-radius: 6px;
                padding: 5px 15px;
                border: 0;
                margin-right: 15px;
                color: #fff;
            }

            .btn-create {
                box-shadow: 0px 5px 15px #cbdff2;
                background: #00bdc8;
            }

            .btn-edit {
                background: #0d8f96;
                box-shadow: 0px 5px 15px #cbdff2;
            }
        }

        .search-sprint {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ffffff;
            border-radius: 12px;
            margin-bottom: 20px;

            input {
                border: 0;
                outline: 0;
                padding: 10px 30px;
                width: 100%;
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #d0d7dd;
                width: 60px;
                height: 48px;
                color: $primary;
            }
        }

        .sprint_list {
            border-radius: 14px 14px 0 0;
            border: 1px solid #bac6d0;
            background: #fff;
            box-shadow: 0px 5px 15px #cbdff2;
            overflow: hidden;
            .item {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 50px;
                grid-gap: 20px;
                margin-bottom: 5px;
                align-items: center;
                min-height: 38px;
                padding: 10px 30px;
                color: #fff;
                font-size: 16px;

                &:nth-child(2n) {
                    background: #7aafd8;
                }

                &:nth-child(2n-1) {
                    background: #5367bd;
                }

                &.header {
                    background: #fff;
                    height: 50px;
                    color: $primary;
                    font-weight: bold;
                    cursor: default;
                }
                &:last-child {
                    margin: 0;
                }

                .del {
                    cursor: pointer;
                }
            }
        }
    }
}
