<div class="one-test_container" *ngIf="!busy">

  <div class="container_placeholder" *ngIf="allServiceList.length === 0">
    <app-card>
      <div class="placeholder_card">
        <div class="card-text">THERE IS NOTHING IN YOUR ONE TEST,<br>LETS CREATE</div>
        <button nz-button nzType="primary" nzShape="round" nzSize="large" nzDanger
          routerLink="/dashboard/onetest/service/create">Create
          Service</button>
      </div>
    </app-card>
  </div>
  <div class="sprint_container" *ngIf="allServiceList.length > 0">
    <div class="action-bar">
      <button class="btn-create" routerLink="/dashboard/onetest/service/create">Create Test Service</button>
    </div>
    <div class="search-sprint">
      <input type="text" placeholder="Find Test Service" [formControl]="searchInput">
      <div class="btn">
        <i-feather name="search"></i-feather>
      </div>
    </div>
    <div class="sprint_list">
      <div class="item header">
        <div>Service Name</div>
        <div>Create Date</div>
        <div>Channel</div>
        <div></div>
      </div>
      <div class="item" *ngFor="let item of filterResults">
        <div>{{ item.serviceName}}</div>
        <div>{{ item.createdOn }}</div>
        <div>{{ item.channelName}}</div>
        <div class="del">
          <span (click)="delete(item.id)">
            <i-feather name="trash-2"></i-feather>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>