<div class="table-card">
  <!-- <div class="example-container audform"> -->
    <div class="header">
  <div class="row">
      <div class="col-12 col-sm-5 px-0 px-sm-3">
        <div class="fromdate">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="From date" [(ngModel)]="fromDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
    </div>
    <div class=" col-12 col-sm-5 px-0 pr-sm-2">
      <div class="todate">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerTo" placeholder="To date" [(ngModel)]="toDate">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-2">
      <div style="margin-top: -2px;">
        <button mat-button  (click)="submit()" class="btn btn-primary mat-filter-btn">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="example-container table-responsive"> -->
<div class="table-responsive">
  <table 
  class="table table-striped"
    *ngIf="dataList && dataList.length>0"
    style="text-align:center">
    <thead>
      <tr>
        <th>Date</th>
        <th>User</th>
        <th>Environment Name</th>
        <th>Rollback</th>
        <th>Object Name</th>
        <th>Object Type</th>
        <th>Host</th>
        <th style="width: 19%;"><span class="rollback"><a class="btn btn-primary" href="#">Rollback <i class="fas fa-history"></i></a></span></th>



      </tr>
    </thead>
    <tbody>
        <tr
          *ngFor="let data of dataList">
          <td>
            {{ data.date | date: 'mediumDate' }} <br/>
            {{ data.date | date: 'mediumTime' }}
          </td>
          <td><span class="bd-l">{{data.user}}</span></td>
          <td><span class="bd-l">{{data.envName}}</span></td>
          <td><span class="bd-l">{{data.rollback}}</span></td>
          <td><span class="bd-l">{{data.parentObjectName}}</span></td>
          <td><span class="bd-l">{{data.parentObjectType}}</span></td>
          <td><span class="bd-l">{{data.host}}</span></td>
          <td><div class="bd-l">
<!--               <button class="btn" mat-raised-button (click)="openDetailsDialog(data)"><i class="fas fa-ellipsis-h"></i></button>
              <button class="btn" mat-raised-button (click)="openRollback(data)"><i class="fas fa-history"></i></button> -->
              <button class="btn" (click)="openDetailsDialog(data)"><i class="fas fa-ellipsis-h"></i></button>
              <button class="btn" (click)="openRollback(data)"><i class="fas fa-history"></i></button>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
</div>
</div>