.my-radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex-box;
    flex-direction: column;
}

.cdk-overlay-pane .mat-dialog-container{
    overflow: none!important;
}
.form-middle{
    height: 100%;
    overflow-y: auto;
    padding: 20px 10px;
    background-color: #f1f1f1;
    margin-top:10px;
}
.btm-button{
    border-radius: 2px;
    margin-top:20px;
    padding:10px;
    text-align: right;
}
.btm-button .btn{
    border-radius: 1px;
    margin-left:15px;
}
